<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="passport25Environment"
             type="System.Configuration.NameValueSectionHandler" />
    <section name="passport241Environment"
             type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <passport25Environment>
    <add key="baseUrl" value="https://pass25-office/Passport/"/>
    <add key="elevatedUser" value="suser"/>
    <add key="elevatedPass" value="datacert" />
    <add key="standardUser" value="sbrown" />
    <add key="standardPass" value="datacert" />
  </passport25Environment>
  <passport241Environment>
    <add key="baseUrl" value="https://pass241-office/Passport/"/>
    <add key="elevatedUser" value="suser"/>
    <add key="elevatedPass" value="datacert" />
    <add key="standardUser" value="dmaxwell" />
    <add key="standardPass" value="datacert" />
  </passport241Environment>
</configuration>
