<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PerformanceTestEnvironment" type="System.Configuration.NameValueSectionHandler" />
    <section name="UITestEnvironmentGA" type="System.Configuration.NameValueSectionHandler" />
    <section name="UITestEnvironmentEY" type="System.Configuration.NameValueSectionHandler" />
    <section name="UITestEnvironmentICD" type="System.Configuration.NameValueSectionHandler" />
    <section name="Shared" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="db-eng-oc-qe-perf"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=zusscnelmdb04.dev.wkelms.com;Initial Catalog=db-eng-oc-qe-perf;Integrated Security=SSPI;" />
  </connectionStrings>
  <PerformanceTestEnvironment>
    <add key="baseUrl" value="https://localhost:7777/Passport" />
    <add key="elevatedUser" value="admin" />
    <add key="elevatedPass" value="datacert!" />
    <add key="standardUser" value="sbrown" />
    <add key="standardPass" value="datacert" />
    <add key="testLogDirectory" value="PerformanceTestLogs" />
    <add key="testOutputDirectory" value="PerformanceReports" />
    <add key="useMockPassport" value="false" />
  </PerformanceTestEnvironment>
  <UITestEnvironmentGA>
    <add key="baseUrl" value="https://zusscnocppqa203.dev.wkelms.com/Passport" />
    <add key="elevatedUser" value="suser" />
    <add key="elevatedPass" value="Datacert02!" />
    <add key="elevatedUserDisplayName" value="super user" />
    <add key="elevatedUserPrimaryPABU" value="Litigation-Taggard Mills" />
    <add key="elevatedUserSecondaryPABU" value="Contracts-El Paso Manufacturing" />
    <add key="standardUser" value="sbrown" />
    <add key="standardPass" value="Datacert02!" />
    <add key="standardName" value="Sally Brown" />
    <add key="attorneyUser" value="dmaxwell" />
    <add key="attorneyPass" value="Datacert02!" />
    <add key="testLogDirectory" value="UITestLogs" />
    <add key="testOutputDirectory" value="UITestReports" />
    <add key="useMockPassport" value="false" />
  </UITestEnvironmentGA>
  <UITestEnvironmentEY>
    <add key="baseUrl" value="https://zusscnocppac101.dev.wkelms.com/Passport" />
    <add key="elevatedUser" value="selina.jan@ey.com" />
    <add key="elevatedPass" value="admin" />
    <add key="elevatedUserDisplayName" value="Passport Admin" />
    <add key="elevatedUserPrimaryPABU" value="" />
    <add key="elevatedUserSecondaryPABU" value="" />
    <add key="standardUser" value="" />
    <add key="standardPass" value="" />
    <add key="testLogDirectory" value="UITestLogs" />
    <add key="testOutputDirectory" value="UITestReports" />
    <add key="useMockPassport" value="false" />
  </UITestEnvironmentEY>
  <UITestEnvironmentICD>
    <add key="baseUrl" value="https://zusscnocppnig01.dev.wkelms.com/Passport" />
    <add key="elevatedUser" value="suser" />
    <add key="elevatedPass" value="Datacert01!" />
    <add key="elevatedUserDisplayName" value="Passport Admin" />
    <add key="elevatedUserPrimaryPABU" value="" />
    <add key="elevatedUserSecondaryPABU" value="" />
    <add key="standardUser" value="sbrown" />
    <add key="standardPass" value="Datacert01!" />
    <add key="testLogDirectory" value="UITestLogs" />
    <add key="testOutputDirectory" value="UITestReports" />
    <add key="useMockPassport" value="false" />
  </UITestEnvironmentICD>
  <Shared>
    <add key="localOfficeCompanionDataPath" value="%USERPROFILE%\AppData\Local\Wolters Kluwer ELM Solutions\Office Companion\" />
    <add key="localOfficeCompanionDatabasePath" value="Profile\data\{0}\{1}\json_v4.db" />
  </Shared>
</configuration>